<!-- extended javascript -->
<!DOCTYPE html>
<html>
    <div class="page-data">
            
        <form method="post" action="" id="the-form">
            <table cellpadding="11">
                <tr>
                    <td class="label">Linha</td><td>: <input type="text" name="name"></td>
                    <td>
                        &nbsp; <input type="button" value="Save" onClick="saveLinha()">
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">Linha</th>
                    <th>Status</th>
                </tr>
                <% if(data.length){
                    String vazio;
                    String normal;
                    String lotado;
                    String resultado;

                    for(var i = 0;i < data.length;i++) { 
                        if (data[i].lotação.equals(vazio)){
                            vazio += 1;
                        }
                        else if (data[i].lotação.equals(normal)){
                            normal += 1;
                        }
                        if (data[i].lotação.equals(lotado)){
                            lotado += 1;
                        }
                    }
                    if (lotado >= normal & lotado >= vazio){
                        resultado = "lotado";
                    }

                    else if(normal > lotado & normal >= vaio){
                        resultado = "normal";
                    }
                    else {
                        resultado = "vazio";
                    }
                    %>

                    <tr>
                        <td><%=data[1].linha%></td>
                        <td><%=resultado%></td>
                    </tr>


            </table>
    </div>

    <script>
            
        function saveLinha(){
            
            $.ajax({
            
            url:"/api/checkstatus",
            type:"post",
            data:$("#the-form").serialize(),
            success:function(res){
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                    
                        err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }
            
            });
        }
    </script>


</html>

